.banner {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;

  .banner-content {
    position: relative;
    margin-left: 7%;
    padding-bottom: 2%;
    z-index: 1;
    max-width: 40%;
  }
}
